SESSION_ID=
SQLITE_PATH=./data/bot.db
BOT_NAME=Desam Tech Bot
PREFIX=.
MODE=public
TIMEZONE=Africa/Accra
AUTO_READ=off
AUTO_STATUS_VIEW=off
ANTI_CALL=on
CHATBOT=off
DEVICE_MODE=Android
LOG_LEVEL=info
DEBUG_LOGS=off
