SESSION_ID=
SQLITE_PATH=./data/bot.db
BOT_NAME=Desam Tech Bot
PREFIX=.
MODE=public
OWNER_NUMBER=
TIMEZONE=Africa/Accra
AUTO_READ=off
AUTO_STATUS_VIEW=off
ANTI_CALL=on
CHATBOT=off
DEVICE_MODE=Android
LOG_LEVEL=info
DEBUG_LOGS=off

# Optional API keys
# TENOR_API_KEY=
# GIPHY_API_KEY=
# UNSPLASH_ACCESS_KEY=
# OMDB_API_KEY=
# SCREENSHOTLAYER_ACCESS_KEY=
# GNEWS_API_KEY=
# CURRENTS_API_KEY=
# REMOVEBG_API_KEY=
# OCR_API_KEY=
